<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    <link rel="stylesheet" href="../assets/styles/perfil.css">
    <title>Admin</title>
  </head>
  <body>
    <h1>Seja bem vinda!</h1>
    <p>Adicione uma nova oportunidade para a comunidade! </p>
    <div class="container">
      <input type="titulo" id="titulo" name="titulo" placeholder="Título" required>
      <input type="link" id="link" name="link" placeholder="Link" required>
      <input type="descricao" id="descricao" name="descricao" placeholder="Descrição" required>
      <button>Enviar</button>
    </div>
  </body>
</html>
