<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />

    <style>
        body.login {
            background-color: #B1B6D3;
            font-family: 'Nunito', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
            position: relative;
        }

        .botão-login {
            background-color: #D8ABC7;
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 8px;
            font-size: large;
        }
        .botão-login:hover {
          background-color: #d5819c;
          transition: .2s;
          cursor: pointer;
        }
        .background-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            width: 100%;
            height: 100%;
            opacity: 0.8;
        }

        .container-login {
            background-color: rgba(255, 255, 255, 0.719);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-bottom: 10px;
            z-index: 1;
            position: absolute;
        }

        .container-login h1 {
            margin-bottom: 20px;
            font-size: 24px;
            color: #333;
        }

        .container-login input{
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .container-botoes {
            text-align: center;
            z-index: 1;
            position: absolute;
            margin-top: 40rem;
        }

        .container-botoes input[type="submit"] {
            background-color: #D8ABC7;
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 8px;
            font-size: large;
        }

        .container-botoes a {
            color: #333;
            text-decoration: none;
            display: block;
            margin-bottom: 15px;
        }

        .container-botoes a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body class="login">
    <img src="./images/Logo.svg" alt="logo" class="background-image"/>
    <div class="container-login">
      <h1>Atualizar senha</h1>

          <form id="verificarForm">
            <input type="nome" id="nome" name="nome" placeholder="Nome" required>
            <input type="email" id="email" name="email" placeholder="E-mail" required>
            <input type="submit" class="botão-login" value="Verificar" onclick="verificar()">
          </form>

          <form id="atualizarForm" style="display: none;">
            <input type="novaSenha" id="novaSenha" name="novaSenha" placeholder="Nova senha" required>
            <input type="confirmacaoSenha" id="confirmacaoSenha" name="confirmacaoSenha" placeholder="Confirme a senha" required>
            <input type="submit" class="botão-login" value="Confirmar" onclick="confirmar()">
          </form>
    </div>



</body>
<script>
  function verificar() {
    event.preventDefault();

    const verificacao = {
      nome: document.getElementById('nome').value,
      email: document.getElementById('email').value,
    };

    fetch('/verificar', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(verificacao)
    })
    .then(response => response.json())
    .then(data => {
      if (data.error) {
        alert('An error occurred: ' + data.error);
        location.reload();
      } else {
        alert('Verificação sucedida!');
        document.getElementById('verificarForm').style.display = 'none';
        document.getElementById('atualizarForm').style.display = 'block';
        location.reload();
      }
    })
    .catch(error => {
      console.error('Error:', error);
      alert('Um erro ocorreu na verificação.');
    });
  };


  function confirmar() {

    const novaSenha = document.getElementById('novaSenha').value
    const confirmacaoSenha = document.getElementById('confirmacaoSenha').value

    if (novaSenha !== confirmacaoSenha) {
      alert('As senhas não são iguais');
      return;
    }

    const senhaAtualizada = {
      email: document.getElementById('email').value,
      novaSenha: confirmacaoSenha
    };

    fetch('/senhaAtualizada', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(senhaAtualizada)
    })
    .then(response => response.json())
    .then(data => {
      if (data.error) {
        alert('An error occurred: ' + data.error);
        location.reload();
      } else {
        alert('You logged in!');
        location.reload();
      }
    })
    .catch(error => {
      console.error('Error:', error);
      alert('An error occurred during login.');
    });
  };
</script>
</html>

