<!DOCTYPE html>
<html>

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="../assets/styles/homepage.css">
</head>

<body>
  <div class="boas-vindas">
    <h1>Bem-vinda, Ana!</h1>
    <img src="../assets/images/comp.png">
  </div>

  <div class="seu-progresso">
    <h1>seu progresso</h1>
    <div class="progresso">
      <div class="circulo"></div>
      <div class="circulo"></div>
      <div class="circulo"></div>
      <div class="circulo"></div>
      <div class="circulo"></div>
      <div class="circulo"></div>
    </div>
  </div>

  <div class="areas-atuacao">
    <h1>Áreas de atuação no setor de tecnologia & Trilhas</h1>
    <div class="cards-area">
      <div class="card">
        <h1>Trilha Básica</h1>
        <button>Quero conhecer!</button>
      </div>
      <div class="card">
        <h1>Inteligência artificial</h1>
        <button>Quero conhecer!</button>
      </div>
      <div class="card">
        <h1>Blockchain</h1>
        <button>Quero conhecer!</button>
      </div>
      <div class="card">
        <h1>CiberSegurança</h1>
        <button>Quero conhecer!</button>
      </div>
      <div class="card">
        <h1>Web Dev</h1>
        <button>Quero conhecer!</button>
      </div>
      <div class="card">
        <h1>UX Design</h1>
        <button>Quero conhecer!</button>
      </div>
    </div>
  </div>

</body>

</html>