<!DOCTYPE html>
<html>

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="divas_project/assets/styles/homepage.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
</head>

<body>
  <div class="boas-vindas">
    <h1>Bem-vinda, <%= nome %>!</h1>
    <img src="../assets/images/comp.png">
  </div>

  <div class="seu-progresso">
    <h1>Seu progresso</h1>
    <div class="progresso">
      <div class="circulo"></div>
      <div class="circulo"></div>
      <div class="circulo"></div>
      <div class="circulo"></div>
      <div class="circulo"></div>
      <div class="circulo"></div>
    </div>
  </div>

  <div class="areas-atuacao">
    <h1>Áreas de atuação no setor de tecnologia & Trilhas</h1>
    <div class="cards-area">
      <div class="card">
        <h1>Trilha Básica</h1>
        <p>Ao longo desta trilha, você explorará os conceitos essenciais e as principais ferramentas utilizadas no setor. Começaremos com uma visão geral sobre a história da tecnologia, seguida por uma introdução aos componentes básicos de hardware e software. Em seguida, abordaremos os sistemas operacionais mais comuns, como Windows, macOS e Linux, e você aprenderá a configurar e navegar por eles.</p>
        <button>Quero conhecer!</button>
      </div>
      <div class="card">
        <h1>Inteligência artificial</h1>
        <button>Quero conhecer!</button>
      </div>
      <div class="card">
        <h1>Blockchain</h1>
        <button>Quero conhecer!</button>
      </div>
      <div class="card">
        <h1>CiberSegurança</h1>
        <button>Quero conhecer!</button>
      </div>
      <div class="card">
        <h1>Web Dev</h1>
        <button>Quero conhecer!</button>
      </div>
      <div class="card">
        <h1>UX Design</h1>
        <button>Quero conhecer!</button>
      </div>
      <div class="card">
        <h1>Assunto extra 1</h1>
        <button>Quero conhecer!</button>
      </div>
      <div class="card">
        <h1>Assunto extra 2</h1>
        <button>Quero conhecer!</button>
      </div>
    </div>
  </div>

</body>

</html>
